{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Multiattack",
  "description": "The dragon makes three attacks: one with its bite and two with its claws.",
  "area_of_effect": {

  },
  "cost": [
    {
      "resource_tags": [ "action" ],
      "count": 1
    }
  ],
  "subevents": [
    {
      "subevent": "give_resource",
      "resource": "std:common/claw_attack",
      "count": 2
    },
    {
      "subevent": "give_resource",
      "resource": "std:common/bite_attack"
    }
  ]
}
