{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Flametongue Command Word",
  "description": "Activate your Flametongue weapon.",
  "area_of_effect": { },
  "cost": [
    {
      "resource_tags": [ "bonus_action" ],
      "count": 1
    }
  ],
  "subevents": [
    {
      "subevent": "add_origin_item_tag",
      "tag": "flametongue"
    }
  ]
}
