{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Deactivate Flame Tongue",
  "description": "Deactivate your Flametongue weapon.",
  "area_of_effect": { },
  "cost": [
    {
      "resource_tags": [ "bonus_action" ]
    }
  ],
  "subevents": [
    {
      "subevent": "remove_origin_item_tag",
      "tag": "flametongue"
    }
  ]
}
