{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Plate Armor",
  "description": "A suit of plate armor.",
  "tags": [
    "metal",
    "heavy_armor",
    "armor"
  ],
  "weight": 65,
  "cost": 1500,
  "equipped_effects": [
    "std:item/armor/adamantine"
  ],
  "armor_class_base": 18,
  "armor_class_dex_limit": 0
}
