{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Claw Attack",
  "description": "This resource allows you to make an attack using a claw.",
  "potency": 1,
  "tags": [
    "claw_attack",
    "extra_attack_resource"
  ]
}
