{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Remove Temporary Weapon Attack",
  "description": "This effect removes any temporary weapon attack resources from the target at the ends of its turns.",
  "subevent_filters": {
    "info_subevent": [
      {
        "conditions": [
          {
            "condition": "any",
            "conditions": [
              {
                "condition": "subevent_has_tag",
                "tag": "start_turn"
              },
              {
                "condition": "subevent_has_tag",
                "tag": "end_turn"
              }
            ]
          },
          {
            "condition": "objects_match",
            "effect": "target",
            "subevent": "target"
          }
        ],
        "functions": [
          {
            "function": "invoke_subevent",
            "source": {
              "from": "effect",
              "object": "target"
            },
            "targets": [
              {
                "from": "effect",
                "object": "target"
              }
            ],
            "subevent": {
              "subevent": "take_resource",
              "resource_tag": "extra_attack_resource"
            }
          }
        ]
      }
    ]
  }
}
