{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Extra Attack",
  "description": "You can make 2 weapon attacks using your action.",
  "area_of_effect": { },
  "cost": [
    {
      "resource_tags": [ "action" ]
    }
  ],
  "subevents": [
    {
      "subevent": "give_resource",
      "resource": "std:common/weapon_attack",
      "count": 4
    }
  ]
}
