{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Second Wind Charge",
  "description": "This resource allows you to use your Second Wind feature.",
  "tags": [
    "second_wind_charge"
  ],
  "refresh_criterion": [
    {
      "subevent": "info_subevent",
      "tags": [
        "short_rest"
      ]
    },
    {
      "subevent": "info_subevent",
      "tags": [
        "long_rest"
      ]
    }
  ]
}
