{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Rage",
  "description": "You go into a rage.",
  "area_of_effect": { },
  "cost": [
    {
      "resource_tags": [ "bonus_action" ]
    },
    {
      "resource_tags": [ "barbarian_rage_charge" ]
    }
  ],
  "subevents": [
    {
      "subevent": "give_effect",
      "effect": "std:class/barbarian/rage/plus_3"
    }
  ]
}
