{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Bonus Action",
  "description": "This resource allows you to take bonus actions on your turn.",
  "potency": 1,
  "tags": [
    "bonus_action"
  ]
}
