{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Spell Slot (lvl 9)",
  "description": "This resource allows you to cast spells.",
  "tags": [
    "spell_slot"
  ],
  "potency": 9,
  "refresh_criterion": [
    {
      "subevent": "info_subevent",
      "tags": [
        "long_rest"
      ]
    }
  ]
}
