{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Bite Attack",
  "description": "This resource allows you to make a single bite attack.",
  "potency": 1,
  "tags": [
    "bite_attack"
  ]
}
